<div
  class="flex w-full min-w-72 flex-col overflow-hidden rounded-md border-2 border-solid border-zinc-700 bg-zinc-800 text-neutral-300 min-[384px]:w-max"
  [ngClass]="{
    'opacity-30': disabled,
  }"
  [attr.data-cy]="'card-' + id"
>
  <!--  Header -->
  <div class="relative flex w-full items-center justify-center gap-2 bg-neutral-600 py-1">
    @if (selectable) {
      <div class="absolute bottom-0 left-1 top-0 flex items-center">
        <app-checkbox
          [id]="'checkbox-' + id"
          [checked]="selected"
          [disabled]="disabled"
          (checkedChange)="toggleSelected()"
        >
        </app-checkbox>
      </div>
    }

    {{ title }}
  </div>

  <!-- Content -->
  <ng-content></ng-content>

  <!-- Footer -->
  <ng-content select="app-card-footer"></ng-content>
</div>
