/* You can add global styles to this file, and also import other style files 
 * @see: https://tailwindcss.com/docs/adding-custom-styles
 */
@tailwind base;
@tailwind components;
@tailwind utilities;

/** The base layer is for things like reset rules or default styles applied to plain HTML elements. */
@layer base {
  /* Override preflight's default sans font choice to be serif (https://tailwindcss.com/docs/preflight) */
  /* html, :host { @apply font-serif; } */

  html {
    @apply h-full scroll-smooth bg-white text-neutral-800 dark:bg-neutral-800 dark:text-neutral-300;
  }

  body {
    @apply flex min-h-full flex-col;
  }

  hr {
    @apply border-gray-300 dark:border-gray-500;
  }

  dt {
    @apply float-left clear-left font-bold after:content-[':'];
  }

  .shadow-strong {
    box-shadow: 0 1px 5px 1px rgb(0 0 0 / 0.5);
  }
}

/** The components layer is for class-based styles that you want to be able to override with utilities. */
@layer components {
  section,
  .section {
    @apply flex flex-col py-20;
  }

  .container-fixed {
    @apply m-auto flex w-full max-w-screen-2xl flex-col gap-4 px-12;
  }

  .container-fluid {
    @apply flex w-full flex-col gap-4 px-12;
  }

  .link {
    @apply cursor-pointer gap-2 text-blue-500 no-underline hover:text-blue-600;
  }

  /*  rounded bg-gray-600 text-white transition duration-300 ease-in-out hover:bg-gray-700 */

  button,
  .btn {
    @apply inline-flex cursor-pointer items-center justify-center gap-2 border border-transparent px-4 py-2;
    &:disabled {
      @apply cursor-not-allowed opacity-80;
    }
  }

  .btn-slim {
    @apply px-2 py-0 text-sm;
  }

  .btn-icon {
    @apply p-2;
  }

  .btn-sm {
    @apply min-w-20;
  }

  .btn-primary {
    @apply bg-blue-700 text-white hover:bg-blue-600 hover:disabled:bg-blue-500;
  }

  .btn-secondary {
    @apply border-blue-700 text-white hover:bg-blue-600 hover:disabled:bg-blue-500;
  }

  .btn-tertiary {
    @apply bg-neutral-500 text-neutral-800 hover:bg-neutral-600 hover:disabled:bg-neutral-500;
  }

  .tooltip-trigger {
    @apply relative;
  }

  .tooltip-trigger:hover .tooltip {
    @apply opacity-100;
  }

  .tooltip {
    @apply h-content absolute w-max bg-neutral-800 px-2 py-1 text-xs text-white opacity-0 transition-opacity duration-200;
  }

  .tooltip::after {
    content: '';
    @apply absolute block border-4 border-transparent;
  }

  /* Tooltip positions and arrows */
  .tooltip-up {
    @apply bottom-full left-1/2 mb-2 -translate-x-1/2;
  }
  .tooltip-up::after {
    @apply left-1/2 top-full -translate-x-1/2 border-t-neutral-800;
  }

  .tooltip-down {
    @apply left-1/2 top-full mt-2 -translate-x-1/2;
  }
  .tooltip-down::after {
    @apply bottom-full left-1/2 -translate-x-1/2 border-b-neutral-800;
  }

  .tooltip-left {
    @apply right-full top-1/2 mr-2 -translate-y-1/2;
  }
  .tooltip-left::after {
    @apply left-full top-1/2 -translate-y-1/2 border-l-neutral-800;
  }

  .tooltip-right {
    @apply left-full top-1/2 ml-2 -translate-y-1/2;
  }
  .tooltip-right::after {
    @apply right-full top-1/2 -translate-y-1/2 border-r-neutral-800;
  }

  .tooltip-up-left {
    @apply bottom-full left-0 mb-2;
  }
  .tooltip-up-left::after {
    @apply left-2 top-full border-t-neutral-800;
  }

  .tooltip-up-right {
    @apply bottom-full right-0 mb-2;
  }
  .tooltip-up-right::after {
    @apply right-2 top-full border-t-neutral-800;
  }

  .tooltip-down-left {
    @apply left-0 top-full mt-2;
  }
  .tooltip-down-left::after {
    @apply bottom-full left-2 border-b-neutral-800;
  }

  .tooltip-down-right {
    @apply right-0 top-full mt-2;
  }
  .tooltip-down-right::after {
    @apply bottom-full right-2 border-b-neutral-800;
  }
}

/** The utilities layer is for small, single-purpose classes that should always take precedence over any other styles. */
@layer utilities {
  .flex-full-no-shrink {
    flex: 0 1 100%;
  }

  .scroll-container {
    overflow-y: auto;
    overflow-y: overlay;
    width: 100%;
    flex: 1;
  }

  .h-content {
    height: fit-content;
  }

  .text-muted {
    @apply text-neutral-500 dark:text-neutral-400;
  }
}
