@let banner = $Banner();

<section
  class="py flex w-full flex-row items-center justify-center gap-2 decoration-clone p-1 px-2 text-white"
  [ngClass]="{
    'bg-cyan-800': banner.type === NotificationType.Info,
    'bg-green-800': banner.type === NotificationType.Success,
    'bg-yellow-800': banner.type === NotificationType.Warning,
    'bg-red-800': banner.type === NotificationType.Error,
    'bg-neutral-600':
      banner.type !== NotificationType.Info &&
      banner.type !== NotificationType.Success &&
      banner.type !== NotificationType.Warning &&
      banner.type !== NotificationType.Error,
  }"
>
  <app-notification-icon [$NotificationType]="banner.type"></app-notification-icon>

  <span>{{ banner.text }}</span>
</section>
